* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-weight: bold;
  font-family: helvetica;
  text-transform: uppercase;
  background-color: aqua;
}

p {
  margin: 0;
}

.container {
  width: 460px;
  margin: 60px auto 0 auto;
}

.box {
  text-align: center;
}

.box div:first-child {
  padding: 0.25em;
  background-color: rgb(247, 157, 157);
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  font-size: 2em;
  width: 100px;
  margin-bottom: 6px;
}

.inputs {
  display: flex;
  margin-bottom: 60px;
}

.inputs div {
  text-align: center;
}

.inputs input {
  padding: 0.25em;
  background-color: rgb(247, 157, 157);
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 6px;
  text-align: center;
  width: 100%;
}

.box.big,
.box.big div:first-child {
  width: 100%;
  font-size: 2em;
}

.calculate {
  margin: 0 auto 60px auto;
  display: block;
  font-size: 2.5em;
}
